<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Это заголовок тайтл</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel = "stylesheet" href = "css/admin.css">		
	</head>
	<style>
	   			   
    </style>
	<body>
	   <video autoplay loop muted preload = "none" class = "bgvideo">
	       <source src = "videos/video1.mp4" type = "video/mp4"></source>
	   </video>
	   <header>
	      
	   </header>
	   <div id = "adminpanel">
	      <span>зарегистрированные пользователи</span>
		  <span>TEST 2</span>
		  <span>TEST 3</span>
	   </div>
	</body>
	<script>
	    
    </script>
</html>