<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Это заголовок тайтл</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel = "stylesheet" type = "text/css" href = "/css/changepassword.css">
   		
	</head>
	<style>
	   			   
    </style>
	<body>
	   <video autoplay loop muted preload = "none" class = "bgvideo">
	       <source src = "/videos/video1.mp4" type = "video/mp4"></source>
	   </video>
	   <header>
	  
	   </header>
	   <div id = "changepasswordform">
	   <form name = "login">
          <label>Пароль</label><br>
          <input type="password" name="userPassword" /><br><br>
          <label>Повторите пароль</label><br>
          <input type="password" name="repeteuserPassword" /><br><br>
		  <div id = "abort">пароли не совпадают</div>
          <button id = "savepassword">Сохранить</button>
       </form>
	   </div>
	</body>
	<script>
	    window.onload = function(){
		  let savepassword = document.getElementById('savepassword');
		  let inputs = document.getElementsByTagName('input');
		  let abort = document.getElementById('abort');
		  
		    async function savepass(){
		     console.log('1');
		  
		     let userData = {
		       userpassword:inputs[0].value,
			   repetepassword:inputs[1].value
		     };
			 
			 if (userData.userpassword != userData.repetepassword){
			   abort.style.display = 'block'; 
			 } else {
			 
			   await fetch('/user/myprofile/changepassword',{
			   method:'PUT',
			   mode:'cors',
			   redirect:'follow',
			   headers: {
			     'Content-type':'application/json',
			   },
			   body: JSON.stringify(userData),
			 })
			 .then(response =>  
			 {
			    if (response.redirected){
				  document.location = response.url;
				}
			 })
			 .then(data => {
			   console.log('OK:',data);
			 })
			 .catch((error) => {
			   console.error('Error:',error," url: ",url);
			 });
			 console.trace();
			 console.log(path);
			 return path;
			 }    
		  }
		  
		  savepassword.onclick = async function(e){
		     e.preventDefault();
			 await savepass();
		  }
		}
		
    </script>
</html>